@CHARSET "UTF-8";
html,body {	height: 100% }
body {
	background-color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0
}
#divBody {
	background-color: #fff;
    position: absolute;
    top: 85px;
    bottom: 0px;
    width: 100%
}
#toptitle {
    -webkit-app-region: drag;
	height: 40px;
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
	background-color: #008080;
	padding: none;
	margin: 0px
}
#title {
	position: fixed;
	top: 0px;
	left: 5px;
	color: white
}
#title-bar-btns {
	-webkit-app-region: no-drag;
	position: fixed;
	right: 0px
}
#header {
    position: absolute;
    top: 40px;
	background: #fff;
	height: 40px;
    width: 100%
}
.btn_color {
	color: gray;
}
.btn_color_menu {
	color: gray;
}
.arduino_card_mini_picture_div {
	position:absolute;
	top:5px;
	right:5px;
	width:250px;
	height:600px
}
.div_close_modal {
	padding-right: 10px;	
	float: right;
	bottom: 10px;
	position: absolute;
	text-align: center
}
.modal-body-config-global_left {
    position: relative
}
#content_blocks{
	background-color: #fff;
	height: 100%;
	width: 100%
}
#btn_left {
	position: absolute;
	left: 5px;
	top: 5px;
	z-index: 10
}
#btn_center {
	position: absolute;
	left: 75px;
	top: 5px;
	z-index: 10;
}
#btn_right {
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 10
}
#btn_factory {
	font-size: 0.8em
}
.my_select{
	height: 37px; 
	border-top-right-radius: 5px; 
	border-bottom-right-radius: 5px; 
	border-left-width: 0px;
	color: gray
}
#toggle {
	width: 25%;
	position: absolute;
	z-index: 1;
	right: 15px;
	top: 0px;
	bottom: 80px;
	opacity: 0.9
}
#content_code {
	font-size: 14px;
    position: absolute;
	border: 1px solid #727272;
    top: 0px;
    right: 5px;
    bottom: 5px;
    left: 5px
}
#toggle pre {
	height: 100%
}
#serial-checboxes {
    margin-left: 20px
}
#modal-body-config {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3
}
#select_all {
	margin-left: 15px
}
#span_select_all {
	font-weight: bold
} 
.blocklySvg {
	border-top: none !important
}
.blocklyToolboxDiv {
	background-color: #fff  !important;
	margin-left: 5px;
	width: 290px;
	opacity: 0.8 
}
.blocklyFlyoutBackground {
	fill: #fff !important
}
.blocklyTreeRoot {
	padding: 0 !important
}
.blocklyToolboxDiv .blocklyTreeRoot [role="treeitem"] {
	position: relative
}
.blocklyToolboxDiv .blocklyTreeRoot [role="treeitem"].blocklyTreeRow {
	line-height: normal !important;
	padding: 6px 50px 6px 12px !important
}
.blocklyTreeRow {
	height: 30px !important;
	line-height: 30px !important
}
.blocklyTreeSeparator {
	background: none repeat scroll 0 0 teal !important;
	border-bottom: none !important;
	height: 10px !important
}
.colors_category {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 8px
}
.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../media/ajax-loading.gif) center no-repeat #fff
}
.vignette {
    max-width: 80px;
    max-height: 80px
}
.blocklyScrollbarKnob {
  fill: #808080 !important;
  fill-opacity: 0.7 !important
}
.blocklyScrollbarBackground {
  stroke-width: 0px !important;
  fill: none !important
}
.btn-minmax { 
  color: #fff; 
  width: 40px;
  height: 40px;
  background-color: #008080; 
  border-color: #008080; 
  line-height: 0px;
  padding:0;
}
.btn-quit { 
  color: #d9534f; 
  width: 40px;
  height: 40px;
  background-color: #008080; 
  border-color: #008080; 
  line-height: 0px;
  padding:0;
}
