@CHARSET "UTF-8";
html,body {
	height: 100%;
}
body {
	background-color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
}
#div_var {
    position: absolute;
	text-align: center;
    top: 45px;
	margin: 10px
}
#divfenetre {
	background-color: #fff;
    position: absolute;
    top: 45px;
    bottom: 0px;
    width: 100%;
}
#divBody {
    position: absolute;
    top: 80px;
    bottom: 0px;
    width: 100%;
}
#title-bar {
    -webkit-app-region: drag;
	height: 40px;
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
	background-color: #5bc0de;
	padding: none;
	margin: 0px
}
#toptitle {
    -webkit-app-region: drag;
	height: 40px;
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
	background-color: #008080;
	padding: none;
	margin: 0px
}
#title {
	position: fixed;
	top: 0px;
	left: 6px;
	color:white;
}
#title-bar-btns {
	-webkit-app-region: no-drag;
	position: fixed;
	right: 0px;
}
#fenetre_term{
	width: 630px;
	height: 415px;
	border: 1px solid #ccc;
	padding:0px 5px 5px 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	border-radius: 5px;
	overflow: auto;
}
#header {
    position: absolute;
    top: 40px;
	background: #fff;
	height: 40px;
    width: 100%;
}
.div_close_modal {
	padding-right: 10px;	
	float: right;
	bottom: 10px;
	position: absolute;
	text-align: center;
}
.modal-body-config-global_left {
    position: relative;
}
#content_factory{
	height: 100%;
	width: 100%;
	padding-right: 5px;
}
#content_blocks{
	height: 100%;
	width: 100%;
}
#blockly_l{
	background-color: #fff;
	float:left;
	height:100%;
	width:55%;
}
#blockly_r{
	float:right;
	height:100%;
	width:45%;
}
#btn_all {
	position: absolute;
	left: 5px;
	top: 2px;
	z-index: 10;
}
#btn_group {
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 10;
}
#toggle {
	width: 25%;
	position: absolute;
	z-index: 1;
	right: 15px;
	top: 0px;
	bottom: 80px;
}
#toggle pre {
	height: 100%;
}
#btn_saveino {
	position: absolute;
	top: 5px;
	right: 5px;
}
#serial-checboxes {
    margin-left: 20px;
}
#modal-body-config {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}
#select_all {
	margin-left: 15px;
}
#span_select_all {
	font-weight: bold;
}
.blocklySvg {
	border-top: none !important;
}
.blocklyToolboxDiv {
	background-color: ffffff  !important;
	margin-left: 5px;
	width: 160px;
}
.blocklyFlyoutBackground {
	fill: #ffffff !important;
}
.blocklyTreeRoot {
	padding: 0 !important;
}
.blocklyToolboxDiv .blocklyTreeRoot [role="treeitem"] {
	position: relative;
}
.blocklyToolboxDiv .blocklyTreeRoot [role="treeitem"].blocklyTreeRow {
	line-height: normal !important;
	padding: 6px 50px 6px 12px !important;
}
.blocklyTreeRow {
	height: 30px !important;
	line-height: 30px !important;
}
.blocklyTreeSeparator {
	background: none repeat scroll 0 0 #e9f9f9 !important;
	border-bottom: none !important;
	height: 10px !important;
}
.colors_category {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 8px;
}
.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../media/ajax-loading.gif) center no-repeat #fff;
}
.vignette {
    max-width: 80px;
    max-height: 80px;
}
.blocklyScrollbarKnob {
  fill: #00929F !important;
  fill-opacity: 0.7 !important;
}
.blocklyScrollbarBackground {
  stroke-width: 0px !important;
  fill: none !important;
}
