@CHARSET "UTF-8";
#btn_add {
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 10
}
#toptitle {
    -webkit-app-region: drag;
	height: 41px;
	text-align: center;
	line-height: 41px;
	vertical-align: middle;
	background-color: #d9534f;
	padding: none;
	margin: 0px
}
#title {
	position: fixed;
	top: 0px;
	left: 5px;
	color: white
}
#title-bar-btns {
	-webkit-app-region: no-drag;
	position: fixed;
	right: 0px
}
#divfenetre {
	background-color: #fff;
    position: absolute;
    top: 45px;
    bottom: 0px;
    width: 100%
}
#blockly_l{
	background-color: #fff;
	float:left;
	height:100%;
	width:55%
}
#blockly_r{
	float:right;
	height:100%;
	width:45%
}
#generatorPre {
	font-size: 14px;
    position: absolute;
	border: 1px solid #727272;
}
.btn-minmaxred { 
  color: #fff; 
  width: 40px;
  height: 40px;
  background-color: #d9534f; 
  border-color: #d9534f; 
  line-height: 0px;
  padding:0;
}
.btn-quitred { 
  color: #fff; 
  width: 40px;
  height: 40px;
  background-color: #d9534f; 
  border-color: #d9534f; 
  line-height: 0px;
  padding:0;
}
.blocklyToolboxDiv {
	opacity: 0.8 
}