@CHARSET "UTF-8";
body {
	background-color: #2f3129;
	height: 100%,
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0
}
#toptitle {
    -webkit-app-region: drag;
	height: 41px;
	text-align: center;
	line-height: 41px;
	vertical-align: middle;
	background-color: #5cb85c;
	padding: 0;
	margin: 0
}
#title {
	position: fixed;
	left: 5px;
	color: white
}
#title-bar-btns {
	-webkit-app-region: no-drag;
	position: fixed;
	right: 0px
}
#header {
    position: absolute;
	background-color: #2f3129;
	height: 41px;
    width: 100%;
	padding: 0;
	margin: 0
}
#btn_right {
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 10;
}
#btn_left {
	position: absolute;
	left: 5px;
	top: 5px;
	z-index: 10;
}
#btn_center {
	position: absolute;
	left: 75px;
	top: 5px;
	z-index: 10;
}
#container {
	background-color: #2f3129;
    position: absolute;
    top: 41px;
    bottom: 0;
    width: 100%;
	padding: 0;
	margin: 0
}
#blocklyDiv{
	position: relative;
	height: 100%;
	width:100%;
	left:5px
}
#blockly_l{
	background-color: #2f3129;
    position: relative;
    float: left;
	padding: 0;
	width: 55%;
	height: 100%;
	margin: 0
}
#blockly_r{
	background-color: white;
    position: relative;
    float: right;
	height: 100%;
	width: 45%;
	border: none
}
#content_code {
	background-color: #2f3129;
	font-size: 14px;
    position: absolute;
	border: 1px solid gray;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px
}
#divBody {
	background-color: #fff;
    position: absolute;
    top: 45px;
    bottom: 0px;
    width: 100%
}
#toolbox {
	display:none
}
.tooltip-inner{
	background-color: #5cb85c;
}
.btn_color {
	color: white;
}
.btn-minmaxgreen { 
  color: #fff; 
  width: 40px;
  height: 40px;
  background-color: #5cb85c; 
  border-color: #5cb85c; 
  line-height: 0;
  padding: 0
}
.btn-quitgreen { 
  color: #fff; 
  width: 40px;
  height: 40px;
  background-color: #5cb85c; 
  border-color: #5cb85c; 
  line-height: 0;
  padding: 0
}
.blocklySvg {
	background-color: #2f3129;
	border-top: none !important
}
.blocklyToolboxDiv {
	color: white;
	background-color: #2f3129  !important;
	opacity: 0.8 
}
.blocklyTreeRow{
	height: 30px !important ;
	line-height: 30px !important
}
.blocklyTreeRow:not(.blocklyTreeSelected):hover { 
	background-color: #2f3129; 
}
.blocklyFlyoutBackground {
	fill: #2f3129 !important
}
.blocklyScrollbarHandle {
	fill: #5cb85c;
}
.blocklyScrollbarBackground:hover+.blocklyScrollbarHandle, .blocklyScrollbarHandle:hover {
	fill: #5cb85c;
}
.blocklyFlyout .blocklyScrollbarHandle {
	fill: #5cb85c;
}
.blocklyFlyout .blocklyScrollbarBackground:hover+.blocklyScrollbarHandle, .blocklyFlyout .blocklyScrollbarHandle:hover {
	fill: #5cb85c;
}