@CHARSET "UTF-8";
body {
	background-color: #fff;
	height: 100%,
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0
}
.btn_color {
	color: gray;
}
#toptitle {
    -webkit-app-region: drag;
	height: 41px;
	text-align: center;
	line-height: 41px;
	vertical-align: middle;
	background-color: #5cb85c;
	padding: 0;
	margin: 0
}
#title {
	position: fixed;
	top: 5px;
	left: 5px;
	color: white
}
#title-bar-btns {
	-webkit-app-region: no-drag;
	position: fixed;
	right: 0px
}
#header {
    position: absolute;
    top: 40px;
	background: #fff;
	height: 40px;
    width: 100%
}
#btn_right {
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 10;
}
#btn_left {
	position: absolute;
	left: 5px;
	top: 5px;
	z-index: 10;
}
#btn_center {
	position: absolute;
	left: 75px;
	top: 5px;
	z-index: 10;
}
#container {
	background-color: #fff;
    position: absolute;
    top: 85px;
    bottom: 0;
    width: 100%
}
#blocklyDiv{
	height: 100%
}
#blockly_l{
	background-color: white;
    position: relative;
    float: left;
	padding: 5px;
	width: 50%;
	height: 100%
}
#blockly_r{
	border-left: gray 1px solid;
    position: relative;
    float: left;
	height: 100%;
	width: 50%
}
#content_code {
	font-size: 14px;
    position: absolute;
	border: 1px solid gray;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px
}
.btn-minmaxgreen { 
  color: #fff; 
  width: 40px;
  height: 40px;
  background-color: #5cb85c; 
  border-color: #5cb85c; 
  line-height: 0;
  padding: 0
}
.btn-quitgreen { 
  color: #fff; 
  width: 40px;
  height: 40px;
  background-color: #5cb85c; 
  border-color: #5cb85c; 
  line-height: 0;
  padding: 0
}
.blocklyToolboxDiv {
	opacity: 0.8 
}