@CHARSET "UTF-8";
table { border-collapse: collapse; }
    table, th, td { border: 1px solid black; }
#title-bar {
	-webkit-app-region: drag;
	height: 41px;
	text-align: center;
	line-height: 41px;
	vertical-align: middle;
	background-color: white;
	padding: none;
	margin: 0px
}
#title {
	position: fixed;
	top: 0px;
	left: 6px;
	color: black
}
#title-bar-btns {
	-webkit-app-region: no-drag;
	position: fixed;
	right: 0px
}
#usb{
	position: absolute;
	top: 46px
}